{% extends "tech/layout.html" %}
{% block landing-page-title %}
ヘルプページ
{% endblock %} 

{% block h2-title %}
使い方の流れ
{% endblock %}

{% block contents %}

<div>
    <ol >
        <li >やりたい事と合致したモデルを選択</li>
        <li>データを成形してアップロード</li>
        <li>計算ボタンを押して計算させる</li>
        <li>ダウンロードボタンから結果ファイルを取得する</li>
    </ol>
</div>

<h2 class="title">モデルの説明</h2>
<form action ="{% url 'help' %}" method="post" target="_blank" rel="noopener noreferrer" >
    {% csrf_token %}
    <div class="input-group">
        <select class="custom-select"  name="help_content" id="select_model">
            <option selected value="none_model">Choose Model...</option>
            {% for model in models %}
            <option value="{{ model.code }}" >{{model.mdl}}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="submit" disabled>go</button>
        </div>
    </div>
    選択するとブログの説明ページに飛びます
</form>

{% endblock %}
