{% extends "tech/layout.html" %}
{% load static %}

{% block landing-page-title %}
MML Calculator
{% endblock %} 

{% block h2-title %}

データを選んでください。

{% endblock %}

{% block contents %}

<form action ="{% url 'datas'  %}" enctype="multipart/form-data"  method="post"  >
    <div>
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit"class="btn btn-primary"> 選択</button>
    </div>
</form>
{% if msg %}
    {% for error in msg %}
        {{error}}
    {% endfor %}
{% endif %}
<p class="help-block">※下の画像のようなcsvファイルにのみ対応しています</p>
<figure>
    <div class="thumbnail">
        <img src="{% static 'img/exam_img.jpg' %}" alt="説明用画像"  width="287" height="162">
        <figcaption>A列に答え, B列以降は特徴量</figcaption>
    </div>
    
</figure>


{% endblock %}
