{% extends "tech/layout.html" %}

{% block landing-page-title %}
MML Calculator
{% endblock %} 

{% block h2-title %}
{% if messages %}
	<h2 class="err_message">
        {% for message in messages %}
			{{ message }}
		{% endfor %}
    </h2>
{% endif %}
<div id="check_condition"> 
{% if not messages %}
以下の条件で計算しますか？
{% endif %}
</div>
<div id="calculation_now"　>
    計算中です
</div>
{% endblock %}

{% block contents %}
<div>
<ul> 
    <li>使うデータ: {{data.title }}</li>
    <li>使う手法: {{model.mdl }}</li>
</ul>
</div>
<div >
    <table class="table">
        <tr>
            <td>
            <form action ="{% url 'calculation'  %}"   method="post" >
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="計算"></input>
            </form>
            </td>
            <td>
            <form action="{% url 'datas' %}">
                <input class="btn btn-success" type="submit" value="戻る"></input>
            </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}