{% extends "tech/layout.html" %}

{% block title %} 
使い方など
{% endblock %}

{% block style %} 

{% endblock %}

{% block body %}

<div>
    <h1>使い方の流れ</h1>
</div>
<div>
    <ol>
        <li>やりたい事と合致したモデルを選択</li>
        <li>データを成形してアップロード</li>
        <li>計算ボタンを押して計算させる</li>
        <li>ダウンロードボタンから結果ファイルを取得する</li>
    </ol>
</div>
<div>
    <h1>モデルの説明</h1>
    
</div>
<div>
    <form action ="{% url 'help' %}" method="post">
        選択すると説明ページに飛びます
        {% csrf_token %}
        <select name="help_content">
            {% for model in models %}
                <option value="{{ model.code }}">{{model.mdl}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="go">
    </form>
</div>


{% endblock %}