{% extends "tech/layout.html" %}

{% block landing-page-title %}
MML Calculator
{% endblock %} 

{% block h2-title %}
使用モデルを選んでください
{% endblock %}

{% block contents %}
<form action ="{% url 'model' %}" method="post">
    {% csrf_token %}
    <select class="custom-select" name="selected_model" id="select_model">
        <option selected value="none_model">Select ML model</option>
        {% for model in models %}
            <option value="{{ model.code }}">{{model.mdl}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-primary" id="submit" disabled></input>
</form>


{% endblock %}





