{% extends "tech/layout.html" %}

{% block body %}

<h1>データをアップロードしてください</h1>

<form  enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">選択</button>

    </form>

<h1>モデルを選択してください</h1>

<form method="post">
    {% csrf_token %}
    <select name="model">
        {% for model in models %}
            <option value="{{ model.code }}">{{model.mdl}}</option>
        {% endfor %}

    </select>
    <input type="submit">




{% endblock %}