<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>
            {% block title %} 
            {% endblock %}
        </title>
        <style>
            {% block style %} 
            {% endblock %}
        </style>
    </head>
        <body>
            <a href = "{% url 'model'  %}" >モデル選択</a>
            <a href = "{% url 'datas'  %}" >データ選択</a>
            <a href = "{% url 'calculation'  %}" >計算</a>

            {% block body %}
            {% endblock %}
        </body>
    
</html>