{% extends "tech/layout.html" %}

{% block landing-page-title %}
MML Calculator
{% endblock %} 

{% block h2-title %}
自然数を入力し、隠れ層が2層あるニューラルネットワークモデルを作ります。
{% endblock %}

{% block contents %}
<form action ="{% url 'make_NN' %}" method="post" >
    {% csrf_token %}

    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text text-white bg-dark" id="basic-addon1" >層1</span>
        </div>
        <input name="layer1" value="64"  min="1" max="128"type="number"></input>
    </div>
    
    <div class="input-group mb-1">
        <div class="input-group-prepend">
        <span class="input-group-text text-white bg-dark" id="basic-addon2">層2</span>
        </div>
        <input name="layer2" value="64" min="1" max="128"type="number"></input>
    </div>
  
        <input type="submit" class="btn btn-primary" id="submit" ></input>
    
    
</form>

{% endblock %}